In [1]:
import pandas as pd
import os

In [2]:
data = pd.read_csv(os.path.expanduser('~/Data/Bilingualism_CVAE/raw/ds1747/participants.tsv'), sep="\t")
data

,participant_id,group,sex,age,ethnicity,years_education,eng_proficiency_score,sp_proficiency_score,num_lang
0,sub-2975,MC,F,21,1,14,10.0,5.0,3.0
1,sub-3156,LB,M,22,1,14,10.0,NaN,4.0
2,sub-3225,LB,M,25,1,18,10.0,8.0,2.0
3,sub-3788,MC,F,21,1,16,10.0,NaN,NaN
4,sub-3789,MC,M,25,1,14,10.0,10.0,NaN
...,...,...,...,...,...,...,...,...,...
87,sub-4105,MC,F,18,1,14,10.0,NaN,NaN
88,sub-4120,MC,M,21,1,14,10.0,NaN,2.0
89,sub-4127,LB,M,25,1,18,10.0,8.0,2.0
90,sub-4128,LB,F,24,1,14,10.0,7.0,2.0
91,sub-4129,LB,F,21,1,14,NaN,NaN,2.0

In [3]:
#ds, participant_id, bilingualism(0-no, 1-yes)
#age, sex(F,M), scanner
#aoa/aoa_group, num_lan, sec_lan_proficiency(0-1), sec_lan_exposure(0-1)

In [4]:
data = data.copy()
data.loc[:,'num_lan'] = data.loc[:,'num_lang']
data.loc[data.group=='MC','bilingualism']=0
data.loc[data.group=='EB','bilingualism']=1
data.loc[data.group=='LB','bilingualism']=1

In [5]:
#use the less proficient language as the second language
data.loc[:, 'sec_lan_proficiency'] = data.loc[(data.group == 'LB')|(data.group == 'EB'), ['eng_proficiency_score', 'sp_proficiency_score']].min(axis=1)/10
data.loc[data.group=='EB', 'aoa_group'] = 'EB'
data.loc[data.group=='LB', 'aoa_group'] = 'LB'
data.loc[:, 'ds'] = 'ds1747'
data.loc[:, 'scanner'] = 'Erlangen'

In [6]:
data['group'].value_counts()

MC    33
LB    32
EB    27
Name: group, dtype: int64

In [7]:
legend = data.loc[:, ['participant_id', 'bilingualism', 'age', 'sex', 
              'aoa_group', 'num_lan', 'sec_lan_proficiency',
              'ds', 'scanner']]

In [8]:
legend

,participant_id,bilingualism,age,sex,aoa_group,num_lan,sec_lan_proficiency,ds,scanner
0,sub-2975,0.0,21,F,NaN,3.0,NaN,ds1747,Erlangen
1,sub-3156,1.0,22,M,LB,4.0,1.0,ds1747,Erlangen
2,sub-3225,1.0,25,M,LB,2.0,0.8,ds1747,Erlangen
3,sub-3788,0.0,21,F,NaN,NaN,NaN,ds1747,Erlangen
4,sub-3789,0.0,25,M,NaN,NaN,NaN,ds1747,Erlangen
...,...,...,...,...,...,...,...,...,...
87,sub-4105,0.0,18,F,NaN,NaN,NaN,ds1747,Erlangen
88,sub-4120,0.0,21,M,NaN,2.0,NaN,ds1747,Erlangen
89,sub-4127,1.0,25,M,LB,2.0,0.8,ds1747,Erlangen
90,sub-4128,1.0,24,F,LB,2.0,0.7,ds1747,Erlangen
91,sub-4129,1.0,21,F,LB,2.0,NaN,ds1747,Erlangen

In [9]:
legend.to_csv(
    os.path.expanduser('~/Documents/Bilingualism_CVAE/data/legend/ds1747.csv'),
    index = False)